<% content_for :head do %>
	<h1><%= @course.name %> :: <%= @assignment_type.name %></h1>
<% end %>

<h1><%= @assignment.name %> :: Grade</h1>

<%= render "form" %>

<%= link_to "Back", assignment_type_assignment_path(@assignment.assignment_type, @assignment) %>