<% content_for :head do %>
	<h1>Login</h1>
<% end %>

<%= form_tag sessions_path do %>
	<%= label_tag :username %>
	<%= text_field_tag :username, params[:email] %>

	<%= label_tag :password %>
	<%= password_field_tag :password, params[:password] %>
	
	<%= submit_tag "Login" %>
<% end %>

