<%= form_for([@course, @assignment_type]) do |f| %>

	<%= f.text_field :name, popover("Name", "A way of identifying and differentiating assignment types.", ["Homework 1", "Term Paper"]) %>
	
	<%= f.text_area :description, popover("Description", "Information about the assignment type.", ["Projects help students practice what they have learned."]) %>
	
	<% if @course.points_based %>
		<div class="hide">
	<% end %>
		<%= f.text_field :worth, popover("Weight", "How the value is distributed throughout the course (in percentage).", ["Exams 25", "Homework 15"]) %>
	<% if @course.points_based %>
		</div>
	<% end %>
	
	<div class="checkbox">
		<%= f.check_box :drop_lowest %>
		Drop the lowest grade?
	</div>
	
	<%= f.submit %>
<% end %>
