<%= form_for([@course, @assignment_type]) do |f| %>
	<%= f.label :name %><br />
	<%= f.text_field :name %>

	<%= f.label :description %><br />
	<%= f.text_area :description %>

	<%if @course.points_based%>
		<div class="hide">
	<%end%>
		<%= f.label :worth %><br />
		<%= f.text_field :worth %>
	<%if @course.points_based%>
		</div>
	<%end%>
	
	<%= f.submit %>
<% end %>
