<% content_for :head do %>
	<% render "head" %>
<% end %>

<h1><%= @assignment.name %></h1>
<p>
  <b>Name:</b>
  <%= @assignment.name %>
</p>

<p>
  <b>Description:</b>
  <%= @assignment.description %>
</p>

<p>
  <b>Worth:</b>
  <%= @assignment.worth %>
</p>

<p>
	<b>Grade:</b>
	<%= @assignment.user_grade(@current_user) %>
</p>

<%= manage_grade_path %> |
<%= link_to "Edit", edit_assignment_path(@assignment) %> |
<%= link_to "Back", assignments_path %>
