<% content_for :head do %>
	<h1><%= @course.name %> :: <%= @assignment_type.name %></h1>
<% end %>

<h1><%= @assignment.name %></h1>
<p>
  <b>Name:</b>
  <%= @assignment.name %>
</p>

<p>
  <b>Description:</b>
  <%= @assignment.description %>
</p>

<p>
  <b>Worth:</b>
  <%= @assignment.worth %>
</p>

<p>
	<b>Grade:</b>
	<%= @grade.grade if @grade %>
</p>

<%= manage_grade_path %> |
<%= link_to "Edit", edit_assignment_path(@assignment) %> |
<%= link_to "Back", assignments_path %>
