<% content_for :head do %>
	<% render "head" %>
<% end %>
<% content_for :nav do %>
	<div class="right">
		<%= render "courses/numberOfStudents" %>
	</div>

	<%= manage_grade_path %>
	<%= link_to "Edit", edit_assignment_type_assignment_path(@assignment_type, @assignment) %>
<% end %>

<h1><%= @assignment.name %></h1>

<table class="table">
	<tbody>
		<tr>
			<th class="text-right no-border">Name:</th>
			<td><%= @assignment.name %></td>
		</tr>
		<tr>
			<th class="text-right no-border">Description:</th>
			<td><%= @assignment.description %></td>
		</tr>
		<tr>
			<th class="text-right no-border">Worth:</th>
			<td><%= @assignment.worth %></td>
		</tr>
		<tr>
			<th class="text-right no-border">Grade:</th>
			<td><%= @assignment.user_grade(@current_user) %></td>
		</tr>
		<tr>
			<th class="text-right no-border">Percentage:</th>
			<td><%= @assignment.user_percentage(@current_user) %></td>
		</tr>
		<tr>
			<th class="text-right no-border">Due:</th>
			<td><%= @assignment.due_date %></td>
		</tr>
	</tbody>
</table>