<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @assignment.name %>
</p>

<p>
  <b>Description:</b>
  <%= @assignment.description %>
</p>

<p>
  <b>Worth:</b>
  <%= @assignment.worth %>
</p>

<p>
	<b>Grade:</b>
	<%= @grade.grade %>
</p>

<%= manage_grade_path %> |
<%= link_to "Edit", edit_assignment_path(@assignment) %> |
<%= link_to "Back", assignments_path %>
