<% content_for :head do %>
	<% render "courses/head", subpage:"Analysis" %>
<% end %>
<% content_for :nav do %>
	<%= render :partial => "courses/navigation" %>
<% end %>
<div id="warning_div">
</div>
<div id="chart_div" style="width:500px; height:500px;">
	<img src="/assets/loader.gif"/>
</div>
	

<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);

	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Assignment', 'Grade', 'Average', 'Minimum', 'Maximum'],
			<% @course.assignments.each do |a| %>
				<% grade = a.user_percentage(@current_user) %>
				<% if grade %>
					['<%= a.name %>', <%= grade %>, <%= a.average %>, <%= a.minimum %>, <%= a.maximum %>], 
				<% end %>
			<% end %>
		]);

		var options = {
			title: 'Grades',
			vAxis: {title: 'Assignment'}
		};
		if(data.getNumberOfRows()==0){
			$('#chart_div').html("");
			$('#warning_div').addClass("alert alert-info");
			$('#warning_div').html('<strong>Heads up!</strong> There are not enough students in the class for statistics. Tell your friends to get with it!');
		}
		else{
			var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
			chart.draw(data, options);
		}
		
	}
</script>