<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="row">
		<div class="span4">
			<h2>Login</h2>
			<%= f.text_field :username, popover("Username", "The name which you will use to sign in. This is not visible to anyone else.", ["cbartlet", "frankyc"]) %>
			<%= f.password_field :password, popover("Password", "A standard password that should be at least 8 characters long. Make this secure by adding in capitals, numbers, and symbols.", ["Gj6%HjS2Lj", "Ai7AsOh0h1BA2VdD"]) %>
			<%= f.password_field :password_confirmation, popover("Password Confirmation", "The same password as above, to make sure you type it correctly") %>
			<%= f.select :theme_id, options_from_collection_for_select(@themes, :id, :name, @user.theme_id), {}, popover("Theme", "Customize the appearance of BareGrades", ["Goldfish", "Snow Purple"]) %>
		</div>

		<div class="span4 offset1">
			<h2>Contact</h2>
			<%= f.text_field :email, popover("Email", "BareGrades requires a correct email address for user confirmation, reset password, and submit feedback operations.", ["BareGrades@gmail.com", "student@BareGrades.com"]) %>
			<%= f.text_field :first_name, popover("First Name", "Your first name. BareGrades uses first names to help users know who is logged on.", ["John", "Jane"]) %>
			<%= f.text_field :middle_name, popover("Middle Name", "Your middle name or middle initial.", ["Leonard", "Marie"]) %>
			<%= f.text_field :last_name, popover("Last Name", "Your last name.", ["Smith", "Doe"]) %>
		</div>
	</div>
	
	<% if @user.new_record? %>
		<div class="checkbox" >
			<%= check_box_tag("policy") %>
			I have read and agree to the <%= link_to("BareGrades Privacy Policy", privacy_path) %>
		</div>
	<% end %>
	
	<br/>
	<%= f.submit "Submit", class:"btn btn-primary" %>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		var theme = {};

		<% @themes.each do |t| %>
			theme[<%= t.id %>] = '<%= t.css_class %>';
		<% end %>
		
		$('#user_theme_id').change(function() {
			var id = $(this).val();
			var css = theme[id];
			$('body').attr('class', css);
		});
	});
</script>
