<% content_for :head do %>
	<h1>Account</h1>
<% end %>

<%= render "users/navigation" %>

<p id="notice"><%= notice %></p>

<h1><%= @user.first_name %> <%= @user.middle_name %> <%= @user.last_name %></h1>

<% if @user.is_administrator? %>
	<h3>You are an administrator.</h3>
<% end %>

<table>
	<tr>
		<th>Username:</th>
		<td><%= @user.username %></td>
	</tr>
	<tr>
		<th>Email:</th>
		<td><%= @user.email %></td>
	</tr>
	<tr>
		<th>Themes:</th>
		<td><%= @user.theme ? @user.theme.name : "Not Set" %></td>
	</tr>
</table>

<h2>Past Courses</h2>
<% @user.past_courses.each do |course| %>
	<div class="title-box">
		<% grade = course.user_grade(@current_user) %>
		<%= grade_span(grade, course) %>
		<%= link_to course.name, course %>
	</div>
<% end %>