<% content_for :head do %>
	<h1>Account</h1>
<% end %>
<% content_for :nav do %>
	<%= link_to "Add Role", new_user_access_path(@user) %>
	<%= link_to "Edit", edit_user_path(@user) %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @user.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p><b>Roles:</b></p>
<table>
	<tr>
		<th>Role</th>
		<th>Course</th>
		<th></th>
	</tr>
	<% @user.accesses.each do |access| %>
		<tr>
			<td><%= access.role.name %></td>
			<td><%= access.course.name if access.course %></td>
			<td><%= link_to "Delete", user_access_path(@user, access), :confirm => "Are you sure?", :method => :delete %></td>
		</tr>
	<% end %>
</table>