<% content_for :head do %>
	<h1>Home</h1>
<% end %>
<% content_for :nav do %>
<% end %>

<h1>Courses</h1>
<ul>
	<% @user.courses.each do |course| %>
		<li><%= link_to course.name, course %>
			<ul>
				<% course.upcoming_assignments(5).each do |assignment| %>
						<% assignment.assignment_type %>
						<li><%= link_to assignment.name, assignment_type_assignment_path(assignment.assignment_type, assignment)%>
						</li>
				<% end %>
			</ul>
		</li>
	<% end %>
</ul>
<div id="calendar">  
  <h2 id="month">  
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>  
    <%= h @date.strftime("%B %Y") %>  
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>  
  </h2>   
	<%= calendar_for(@assignments, :year => @date.year, :month => @date.month) do |calendar| %>
		<%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
		<% calendar.day(:day_method => :due_date) do |day, assignments| %>
			<%= day.day %>
			<ul>
				<% for assignment in assignments %>
					<li>
						<%= assignment.course.name %>: <%= link_to assignment.name, assignment_type_assignment_path(assignment.assignment_type, assignment)%>
					</li>
				<% end %>
			</ul>
		<% end %>
	<% end %>
</div>  