<% content_for :head do %>
	<h1>Roles</h1>
<% end %>

<h1>Assign Role</h1>

<%= form_for([@user, @access]) do |f| %>
	<% if @access.errors.any? %>
	<div class="alert alert-error">
		<strong>Error!</strong>

		<%=
			@access.errors.full_messages.each do |msg|
				concat msg
			end
		%>
	</div>
	<% end %>

	
	<%= f.hidden_field :user_id, :value => params[:user_id] %>

	<%= f.label :role_id %>
	<%= f.select :role_id, options_from_collection_for_select(@all_roles, :id, :name) %>

	<%= f.label :course_id %>
	<%= f.select :course_id, options_from_collection_for_select(@all_courses, :id, :name) %>

	<%= f.submit %>
<% end %>
