<div class="pull-right dropdown">
	<a href="#"  class="btn dropdown-toggle" data-toggle="dropdown">
		<span class="caret"></span>
	</a>
	<div class="dropdown-menu">
		<div class="btn-group" >
			<%= link_to "Edit Info", edit_assignment_path(assignment), :class => "btn" %>
			
			<% if not grade.grade.blank? %>
				<%= link_to "Delete Grade", assignment_grade_path(assignment, :page => "Course"), confirm:"Are you sure you want to delete your grade?", method: :delete, :class => "btn btn-danger" %>
			<% end %>
		</div>
		<%= form_for([assignment, grade]) do |f| %>
			<% if grade.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

					<ul>
						<% grade.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
				<br />
				<%= f.text_field :grade, :placeholder => "Grade" %>
				<%= label_tag "out of " +  assignment.worth.to_s + "points" %>

			<%= submit_tag "Save", class:"btn btn-primary btn-block" %>
		<% end %>
	</div>
</div>