<%= form_for(@course) do |f| %>
	<% if @course.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

			<ul>
				<% @course.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

  
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :identifier %>
	<%= f.text_field :identifier %>

	<%= f.label :section %>
	<%= f.number_field :section %>
	
	<%= f.label :professor %>
	<%= f.text_field :professor %>

	<%= f.label :description %>
	<%= f.text_area :description %>

	<%= f.label :credits %>
	<%= f.text_field :credits %>
	
	
	<%= f.label :points_based %>
	<%= f.check_box :points_based %>

	<div class="hide">
	<%= f.label :pin %>
	<%= f.number_field :pin %>

	<%= f.label :student_managed %>
	<%= f.check_box :student_managed %>

	</div>
  

    <%= f.submit %>
  
<% end %>