<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :identifier %><br />
    <%= f.text_field :identifier %>
  </div>
  <div class="field">
    <%= f.label :section %><br />
    <%= f.number_field :section %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :pin %><br />
    <%= f.number_field :pin %>
  </div>
  <div class="field">
    <%= f.label :student_managed %><br />
    <%= f.check_box :student_managed %>
  </div>
  <div class="field">
    <%= f.label :credits %><br />
    <%= f.text_field :credits %>
  </div>
  <div class="field">
    <%= f.label :points_based %><br />
    <%= f.check_box :points_based %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
