<% if !grade_scale.blank? %>
	<div class="scale">
		<div class="grade spacer">
		</div>
		<div class="grade b plus">
			<div class="letter">B+</div>
			<div class="percentage"><%= grade_scale.b_plus ? "%02.01f" % grade_scale.b_plus : "N/A" %></div>
		</div>
		<div class="grade c plus">
			<div class="letter">C+</div>
			<div class="percentage"><%= grade_scale.c_plus ? "%02.01f" % grade_scale.c_plus : "N/A" %></div>
		</div>
		<div class="grade d plus">
			<div class="letter">D+</div>
			<div class="percentage"><%= grade_scale.d_plus ? "%02.01f" % grade_scale.d_plus : "N/A" %></div>
		</div>

		<div class="clearfix"></div>

		<div class="grade a">
			<div class="letter">A</div>
			<div class="percentage"><%= grade_scale.a ? "%02.01f" % grade_scale.a : "N/A" %></div>
		</div>
		<div class="grade b">
			<div class="letter">B</div>
			<div class="percentage"><%= grade_scale.b ? "%02.01f" % grade_scale.b : "N/A" %></div>
		</div>
		<div class="grade c">
			<div class="letter">C</div>
			<div class="percentage"><%= grade_scale.c ? "%02.01f" % grade_scale.c : "N/A" %></div>
		</div>
		<div class="grade d">
			<div class="letter">D</div>
			<div class="percentage"><%= grade_scale.d ? "%02.01f" % grade_scale.d : "N/A" %></div>
		</div>
		
		<a href="#" class="btn btn-primary">+</a>

		<div class="clearfix"></div>

		<div class="grade a minus">
			<div class="letter">A-</div>
			<div class="percentage"><%= grade_scale.a_minus ? "%02.01f" % grade_scale.a_minus : "N/A" %></div>
		</div>
		<div class="grade b minus">
			<div class="letter">B-</div>
			<div class="percentage"><%= grade_scale.b_minus ? "%02.01f" % grade_scale.b_minus : "N/A" %></div>
		</div>
		<div class="grade c minus">
			<div class="letter">C-</div>
			<div class="percentage"><%= grade_scale.c_minus ? "%02.01f" % grade_scale.c_minus : "N/A" %></div>
		</div>
		<div class="grade d minus">
			<div class="letter">D-</div>
			<div class="percentage"><%= grade_scale.d_minus ? "%02.01f" % grade_scale.d_minus : "N/A" %></div>
		</div>

		<div class="clearfix"></div>
	</div>

<% end %>