<% if !grade_scale.blank? %>
	<div class="scale">
		<div class="grade a plus">
			<div class="letter">A+</div>
			<div class="percentage"><%= grade_scale.a_plus %></div>
		</div>
		<div class="grade b plus">
			<div class="letter">B+</div>
			<div class="percentage"><%= grade_scale.b_plus %></div>
		</div>
		<div class="grade c plus">
			<div class="letter">C+</div>
			<div class="percentage"><%= grade_scale.c_plus %></div>
		</div>
		<div class="grade d plus">
			<div class="letter">D+</div>
			<div class="percentage"><%= grade_scale.d_plus %></div>
		</div>

		<div class="clear"></div>

		<div class="grade a">
			<div class="letter">A</div>
			<div class="percentage"><%= grade_scale.a %></div>
		</div>
		<div class="grade b">
			<div class="letter">B</div>
			<div class="percentage"><%= grade_scale.b %></div>
		</div>
		<div class="grade c">
			<div class="letter">C</div>
			<div class="percentage"><%= grade_scale.c %></div>
		</div>
		<div class="grade d">
			<div class="letter">D</div>
			<div class="percentage"><%= grade_scale.d %></div>
		</div>
		<div class="grade f">
			<div class="letter">F</div>
			<div class="percentage"><%= grade_scale.f %></div>
		</div>
		
		<a href="#" class="button">+</a>

		<div class="clear"></div>

		<div class="grade a minus">
			<div class="letter">A-</div>
			<div class="percentage"><%= grade_scale.a_plus %></div>
		</div>
		<div class="grade b minus">
			<div class="letter">B-</div>
			<div class="percentage"><%= grade_scale.b_plus %></div>
		</div>
		<div class="grade c minus">
			<div class="letter">C-</div>
			<div class="percentage"><%= grade_scale.c_plus %></div>
		</div>
		<div class="grade d minus">
			<div class="letter">D-</div>
			<div class="percentage"><%= grade_scale.d_plus %></div>
		</div>

		<div class="clear"></div>
	</div>

<% end %>