<% content_for :head do %>
	<% render "head" %>
<% end %>

<% content_for :nav do %>
	<div class="right">
		<%= render :partial => "courses/numberOfStudents" %>
	</div>

	<%= render :partial => "courses/navigation" %>
<% end %>

<header>
	<h1>Calendar</h1>
</header>

<div id="calendar">  
  <h2 id="month">  
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>  
    <%= h @date.strftime("%B %Y") %>  
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>  
  </h2>   
	<%= calendar_for(@assignments, :year => @date.year, :month => @date.month) do |calendar| %>
		<%= calendar.head("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday") %>
		<% calendar.day(:day_method => :due_date) do |day, assignments| %>
			<%= day.day %>
			<ul>
				<% for assignment in assignments %>
					<li>
						<%= assignment.course.name %>: <%= link_to assignment.name, assignment_type_assignment_path(assignment.assignment_type, assignment)%>
					</li>
				<% end %>
			</ul>
		<% end %>
	<% end %>
</div>  
