<% content_for :head do %>
	<h1>Courses</h1>
<% end %>
<% content_for :nav do %>
<% end %>

<div>
	<p>BareGrades is an online collaborative gradebook, so you can join courses that others create and manage. This means less work and more information.</p>
	<p>Get started by searching for your courses (someone may have already created them). If you cannot find a course <%= link_to "Create New Course", new_course_path, :class => "button" %> using our course creation wizard.</p>
</div>
<br />
<form>
	<strong>Search: </strong><br/>
	<input type="text" name="search" id="search"/>
</form>

<table class="table table-middle">
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>ID</th>
			<th></th>
			<th>Credits</th>
			<th>School</th>
			<th>Professor</th>
			<%=
				if @current_user.is_administrator?
					content_tag(:th, "Users")
				end
			%>
		</tr>
	</thead>
	<tbody  class="nowrap">
		<% @courses.each do |course| %>
			<tr>
				<td><%= link_to "Join", course_join_path(course), class:"btn btn-primary" %></td>
				<td><%= link_to course.name, course %></td>
				<td><%= course.identifier %></td>
				<td><%= course.section %></td>
				<td><%= course.credits %></td>
				<td><%= course.school ? course.school.name : "" %></thd>
				<td><%= course.professor ? course.professor.name : "" %></td>
				<% if @current_user.is_administrator? %>
					<td>
						<%= link_to course.users.length, course_users_path(course) %>
					</td>
					<td>
						<div class="dropdown">
							<a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
								<i class="icon-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<%= li_to "Show", course %>
								<%= li_to "Edit", edit_course_path(course) %>
								<li class="divider"></li>
								<%= li_to "Destroy", course, :confirm => "Are you sure?", :method => :delete %>
							</ul>
						</div>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

<script>
	$(document).ready(function() {
		$.expr[':'].containsIgnoreCase = function(n,i,m){
			return jQuery(n).text().toUpperCase().indexOf(m[3].toUpperCase())>=0;
		};


		$("#search").keyup(function(){
			var data = this.value.split(" ");
			var rows = $("tbody").find("tr");
			
			if(this.value == "") {
				rows.show();
				return;
			}

			rows.hide();

			$.each(data, function(i, v){
				//Use the new containsIgnoreCase function instead
				rows = rows.filter("*:containsIgnoreCase('"+ v +"')");
			});

			rows.show();

		}).focus(function(){
			this.value = "";
			$(this).unbind('focus');
		});
	});
</script>

<%= link_to "Create New Course", new_course_path, :class => "button" %>
