<% content_for :head do %>
	<h1>Courses</h1>
<% end %>
<% content_for :nav do %>
<% end %>

<table>
  <tr>
	<th></th>
    <th>Name</th>
    <th>Identifier</th>
    <th>Section</th>
    <th>Credits</th>
	<% if @current_user.is_administrator? %>
		<th></th>
		<th></th>
		<th></th>
	<% end %>
  </tr>

<% @courses.each do |course| %>
  <tr>
	<td><%= link_to "Join", course_join_path(course), :class => "button" %></td>
    <td><%= course.name %></td>
    <td><%= course.identifier %></td>
    <td><%= course.section %></td>
    <td><%= course.credits %></td>
	<% if @current_user.is_administrator? %>
		<td><%= link_to "Show", course %></td>
		<td><%= link_to "Edit", edit_course_path(course) %></td>
		<td><%= link_to "Destroy", course, method: :delete, data: { confirm: "Are you sure?" } %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to "New Course", new_course_path %>
