<% content_for :head do %>
	<% render "head" %>
<% end %>
<% content_for :nav do %>
	<%= render partial:"courses/navigation", :locals => {subpage:"info"} %>
<% end %>

<header>
	<h1>Course Info</h1>
</header>

<p><%= @course.description %></p>

<p>
	<b>Professor:</b> <%= @course.professor ? @course.professor.name : ""%><br/>
	<b>School:</b> <%= @course.school ? @course.school.name : "" %><br/>
	<b>Credits:</b> <%= @course.credits %><br/>
	<%if @course.points_based%>
		<b>Points based</b>
	<%end%>
</p>

<%= render :partial => "gradeScale", :locals => {:course => @course, :grade_scale => @course.grade_scale} %>

<!--
<p>
  <b>Pin:</b> <%= @course.pin %><br/>
  <b>Points based:</b> <%= @course.points_based %><br/>
</p>
-->

<h2>Assignment Types</h2>
<table class="table table-middle table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<%if @course.points_based%>
				<th>Points</th>
			<%else%>
				<th>Weighting</th>
			<%end%>
			
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @course.assignment_types.each do |assignment_type| %>
			<% grade = assignment_type.user_grade(@current_user) %>	
			
			<tr>
				<td><%= assignment_type.name %></td>
				
				<%if @course.points_based%>
				<td><%= assignment_type.points %></td>
				<%else%>
				<td><%= assignment_type.worth %></td>
				<%end%>
				
				<td>
					<div class="btn-group pull-right">
						<%= render :partial => "assignment_type_worth", :locals => {:course => @course, :assignment_type => assignment_type} %>
					</div>
				</td>
			</tr>
			
		<% end %>
	</tbody>
</table>