<% content_for :head do %>
	<% render "head" %>
<% end %>

<% content_for :nav do %>
	<div class="right">
		<%= render :partial => "courses/numberOfStudents" %>
	</div>

	<%= render :partial => "courses/navigation" %>
<% end %>

<header>
	<h1>Course Info</h1>

	<nav>
		<%= link_to "Add Assignment Type", new_course_assignment_type_path(@course) %> | 
		<%= link_to "Edit", edit_course_path(@course) %> |
		<%= @course.grade_scale ? link_to("Edit Grade Scale", edit_course_grade_scale_path(@course)) :  link_to("Add Grade Scale", new_course_grade_scale_path(@course)) %> |
		<%= link_to "Leave", course_leave_path(@course) %>
	</nav>
</header>


<p><%= @course.description %></p>

<p>
	<b>Professor:</b> <%= @course.professor %><br/>
	<b>Credits:</b> <%= @course.credits %><br/>
	<%if @course.points_based%>
		<b>Points based</b>
	<%end%>
</p>

<%= render :partial => "gradeScale", :locals => {:course => @course, :grade_scale => @course.grade_scale} %>

<!--
<p>
  <b>Pin:</b> <%= @course.pin %><br/>
  <b>Points based:</b> <%= @course.points_based %><br/>
</p>
-->
<% @course.assignment_types.each do |assignment_type| %>
	<% grade = assignment_type.user_grade(@current_user) %>
	<div class="block">
		<div class="right">
			<%= link_to "Edit", edit_course_assignment_type_path(@course, assignment_type), :class => "button" %>
			<%= link_to "Delete", course_assignment_type_path(@course, assignment_type), :confirm => "Are you sure?", :method => :delete, :class => "button" %>
		</div>
		<h2 class="inline"><%= link_to assignment_type.name, course_assignment_type_path(@course, assignment_type) %></h2>
		<%if @course.points_based%>
			<h3 class="inline"> &nbsp; <%="%02d" % assignment_type.get_points %> pts</h3>
		<%else%>
			<h3 class="inline"> &nbsp; <%= "%02d\%" % assignment_type.worth %></h3>
		<%end%>
		<p><%= assignment_type.description %></p>
	</div>
<% end %>