<% content_for :head do %>
	<% render "head" %>
<% end %>

<% content_for :nav do %>
	<div class="right">
		<%= number_of_students %> <img src="/assets/user.png" alt="Number of Students"/>
	</div>

	<%= link_to "Add Assignment Type", new_course_assignment_type_path(@course) %>
	<%= link_to "Edit", edit_course_path(@course) %>
	<%= link_to "Leave", course_leave_path(@course) %>
	
	<!-- TODO: Change these to actual links
	<a href="#">Summary</a>
	<a href="#">Analysis</a>
	<a href="#">Calendar</a>
	<a href="#">Actions</a>
	-->
<% end %>

<p><%= @course.description %></p>

<p>
  <b>Pin:</b> <%= @course.pin %><br/>
  <b>Student managed:</b> <%= @course.student_managed %><br/>
  <b>Credits:</b> <%= @course.credits %><br/>
  <b>Points based:</b> <%= @course.points_based %><br/>
</p>

<p><b>Assignment Types:</b></p>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Grade</th>
			<th>Worth</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @course.assignment_types.each do |assignment_type| %>
			<% grade = assignment_type.user_grade(@current_user) %>
			<tr>
				<td><%= link_to assignment_type.name, course_assignment_type_path(@course, assignment_type) %></td>
				<td><%= assignment_type.description %></td>
				<td><%= "%02d\%" % grade if grade %></td>
				<td><%= "%02d\%" % assignment_type.worth %></td>
				<td><%= link_to "Delete", course_assignment_type_path(@course, assignment_type), :confirm => "Are you sure?", :method => :delete %></td>
			</tr>		
		<% end %>
	</tbody>
</table>

<p>
  <b>Grade Scale:</b>
  <%= render :partial => "gradeScale", :locals => { :course => @course} %>
</p>
