<% content_for :head do %>
	<% render "head" %>
<% end %>

<% content_for :nav do %>
	<div class="right">
		<%= render :partial => "courses/numberOfStudents" %>
	</div>

	<%= link_to "Summary", course_path(@course) %>
	<%= link_to "Info", course_info_path(@course) %>
	<a href="#">//Analysis</a>
	<a href="#">//Calendar</a>
<% end %>

<header>
	<h1>Summary</h1>
</header>

<ul>
	<% @course.upcoming_assignments.each do |assignment| %>
		<li><%= link_to assignment.name, assignment_type_assignment_path(assignment.assignment_type, assignment) %></li>
	<% end %>
</ul>

<% @course.assignment_types.each do |assignment_type| %>
	<% grade = assignment_type.user_grade(@current_user) %>
	<div class="block">
		<div class="right">
			<%= link_to "Edit", edit_course_assignment_type_path(@course, assignment_type), :class => "button" %>
			<%= link_to "Delete", course_assignment_type_path(@course, assignment_type), :confirm => "Are you sure?", :method => :delete, :class => "button" %>
		</div>
		<h2><%= link_to assignment_type.name, course_assignment_type_path(@course, assignment_type) %></h2>
		<p><%= assignment_type.description %></p>
		<!--
		<td><%= "%02d\%" % assignment_type.worth %></td>
		<td><%= link_to "Delete", course_assignment_type_path(@course, assignment_type), :confirm => "Are you sure?", :method => :delete, :class => "button" %></td>
		-->
	</div>
<% end %>