<% content_for :head do %>
	<% render "head" %>
<% end %>

<% content_for :nav do %>
	<div class="right">
		<%= render :partial => "courses/numberOfStudents" %>
	</div>

	<%= render :partial => "courses/navigation" %>
<% end %>


<!-- [ Gamer Boxes ] -->
	<%= @percent_completed ? render("courses/gamerBox", :value => "#{@percent_completed}\%", :text => "Completed") : "" %>
	<%= render "courses/gamerBox", :value => @num_uncompleted, :text => "Asgmts Left" %>
	<%= render "courses/gamerBox", :value => @days_left, :text => "Days Left" %>
	<div class="clear"></div>

<!-- [ Current Assignments ] -->
	<div class="bigcolumn">
		<h2>Upcoming</h2>
		<table>
			<%
				month = 00
				day = 00
			%>
			<% @upcoming.each do |assignment| %>
				<tr>
					<th class="no-border text-right">
						<%=
							if assignment.due_date.month != month
								month = assignment.due_date.month
								Date::MONTHNAMES[assignment.due_date.month]
							end
						%>
					</td>
					<td class="text-center"><%= assignment.due_date.day %></td>
					<td><%= link_to assignment.name, assignment_type_assignment_path(assignment.assignment_type, assignment) %></td>
					<td><%= link_to "Edit", edit_assignment_type_assignment_path(assignment.assignment_type, assignment), :class => "button" %></td>
				</tr>
			<% end %>
			
			<% @undated.each_with_index do |assignment, i| %>
				<tr>
					<th class="no-border text-right">
						<%= (i == 0) ? "Undated" : "" %>
					</th>
					<td></td>
					<td><%= link_to assignment.name, assignment_type_assignment_path(assignment.assignment_type, assignment) %></td>
					<td><%= link_to "Edit", edit_assignment_type_assignment_path(assignment.assignment_type, assignment), :class => "button" %></td>
				</tr>
			<% end %>
		</table>
	</div>

<!-- [ Past Assignments ] -->
	<div class="bigcolumn">
		<h2>Past</h2>
		<table>
			<% @past.each_with_index do |assignment, i| %>
				<tr>
					<td></td>
					<td><%= link_to assignment.name, assignment_type_assignment_path(assignment.assignment_type, assignment) %></td>
					<td><%= link_to "Edit", edit_assignment_type_assignment_path(assignment.assignment_type, assignment), :class => "button" %></td>
				</tr>
			<% end %>
			<% @graded.each_with_index do |assignment, i| %>
				<tr>
					<td class="no-padding">
						<%= render "courses/gradeBlock", :grade => assignment.user_grade(@current_user), :course => @course %>
					</td>
					<td><%= link_to assignment.name, assignment_type_assignment_path(assignment.assignment_type, assignment) %></td>
					<td><%= link_to "Edit", edit_assignment_type_assignment_path(assignment.assignment_type, assignment), :class => "button" %></td>
				</tr>
			<% end %>
		</table>
	</div>

	<div class="clear"></div>