<% content_for :head do %>
	<% render "head" %>
<% end %>

<% content_for :nav do %>
	<div class="right">
		<%= number_of_students %> <img src="/assets/user.png" alt="Number of Students"/>
	</div>

	<%= link_to "Summary", course_path(@course) %>
	<a href="#">//Analysis</a>
	<a href="#">//Calendar</a>
<% end %>

<section class="info">
	<header>
		<h2>Course Info</h2>

		<nav>
			<%= link_to "Add Assignment Type", new_course_assignment_type_path(@course) %> | 
			<%= link_to "Edit", edit_course_path(@course) %> |
			<%= @course.grade_scale ? link_to("Edit Grade Scale", edit_course_grade_scale_path(@course)) :  link_to("Add Grade Scale", new_course_grade_scale_path(@course)) %> |
			<%= link_to "Leave", course_leave_path(@course) %>
		</nav>
	</header>

	<p><%= @course.description %></p>

	<%= render :partial => "gradeScale", :locals => {:course => @course, :grade_scale => @course.grade_scale} %>

	<!--
	<p>
	  <b>Pin:</b> <%= @course.pin %><br/>
	  <b>Credits:</b> <%= @course.credits %><br/>
	  <b>Points based:</b> <%= @course.points_based %><br/>
	</p>
	-->
</section>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Grade</th>
			<th>Worth</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @course.assignment_types.each do |assignment_type| %>
			<% grade = assignment_type.user_grade(@current_user) %>
			<tr>
				<td><%= link_to assignment_type.name, course_assignment_type_path(@course, assignment_type) %></td>
				<td><%= assignment_type.description %></td>
				<td><%= "%02d\%" % grade if grade %></td>
				<td><%= "%02d\%" % assignment_type.worth %></td>
				<td><%= link_to "Delete", course_assignment_type_path(@course, assignment_type), :confirm => "Are you sure?", :method => :delete %></td>
			</tr>		
		<% end %>
	</tbody>
</table>