<% content_for :head do %>
	<h1><%= @course.name %></h1>
<% end %>
<% content_for :nav do %>
<!-- TODO: Change these to actual links -->
	<a href="#">Summary</a>
	<a href="#">Analysis</a>
	<a href="#">Calendar</a>
	<a href="#">Actions</a>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Identifier:</b>
  <%= @course.identifier %>
</p>

<p>
  <b>Section:</b>
  <%= @course.section %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>Pin:</b>
  <%= @course.pin %>
</p>

<p>
  <b>Student managed:</b>
  <%= @course.student_managed %>
</p>

<p>
  <b>Credits:</b>
  <%= @course.credits %>
</p>

<p>
  <b>Points based:</b>
  <%= @course.points_based %>
</p>

<p><b>Assignment Types:</b></p>
<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Worth</th>
		<th></th>
	</tr>
	<% @course.assignment_types.each do |assignment_type| %>
		<tr>
			<td><%= link_to assignment_type.name, course_assignment_type_path(@course, assignment_type) %></td>
			<td><%= assignment_type.description %></td>
			<td><%= assignment_type.worth %></td>
			<td><%= link_to "Delete", assignment_types_path(assignment_type), :confirm => "Are you sure?", :method => :delete %></td>
		</tr>		
	<% end %>
</table>

<p>
  <b>Number of students:</b>
  <%= number_of_students %>
</p>

<p>
  <b>Grade Scale:</b>
  <%= render :partial => "gradeScale", :locals => { :course => @course} %>
</p>

<%= link_to "Add Assignment Type", new_course_assignment_type_path(@course) %> |
<%= link_to "Edit", edit_course_path(@course) %> |
<%= link_to "Back", root_path %>
