<% content_for :head do %>
	<% render "head" %>
<% end %>
<% content_for :nav do %>
	<%= render :partial => "courses/navigation" %>
	<%= render :partial => "courses/numberOfStudents" %>
<% end %>


<!-- [ Gamer Boxes ] -->
<!--
	<%= @percent_completed ? render("courses/gamerBox", :value => "#{@percent_completed}\%", :text => "Completed") : "" %>
	<%= render "courses/gamerBox", :value => @num_uncompleted, :text => "Asgmts Left" %>
	<%= render "courses/gamerBox", :value => @days_left, :text => "Days Left" %>
-->

<ul class="nav nav-tabs">
	<li class="active"><a href="#upcoming" data-toggle="tab">Upcoming</a></li>
	<li><a href="#past" data-toggle="tab">Past</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="upcoming">
		<table class="table table-hover table-middle">
			<tbody>
				<%
					month = 00
					day = 00
				%>
				<% @upcoming.each do |assignment| %>
					<tr>
						<th class="span1">
							<%=
								if assignment.due_date.month != month
									month = assignment.due_date.month
									Date::MONTHNAMES[assignment.due_date.month]
								end
							%>
						</td>
						<td><%= assignment.due_date.day %></td>
						<td class="span5"><%= link_to assignment.name, assignment_type_assignment_path(assignment.assignment_type, assignment) %></td>
						<td>
							<div class="btn-group">
								<%= link_to "Edit", edit_assignment_type_assignment_path(assignment.assignment_type, assignment), :class => "btn" %>
								<%= link_to "Grade", edit_assignment_grade_path(assignment), :class => "btn" %>
							</div>
						</td>
					</tr>
				<% end %>
				
				<% @undated.each_with_index do |assignment, i| %>
					<tr>
						<th class="span1"><%= (i == 0) ? "Undated" : "" %></th>
						<td></td>
						<td class="span5"><%= link_to assignment.name, assignment_type_assignment_path(assignment.assignment_type, assignment) %></td>
						<td>
							<div class="btn-group">
								<%= link_to "Edit", edit_assignment_type_assignment_path(assignment.assignment_type, assignment), :class => "btn" %>
								<%= link_to "Grade", edit_assignment_grade_path(assignment), :class => "btn btn-primary" %>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="tab-pane" id="past">
		<table class="table table-hover table-middle">
			<tbody>
				<% @past.each_with_index do |assignment, i| %>
					<tr>
						<td></td>
						<td class="span5"><%= link_to assignment.name, assignment_type_assignment_path(assignment.assignment_type, assignment) %></td>
						<td>
							<div class="btn-group">
								<%= link_to "Edit", edit_assignment_type_assignment_path(assignment.assignment_type, assignment), :class => "btn" %>
								<%= link_to "Grade", edit_assignment_grade_path(assignment), :class => "btn" %>
							</div>
						</td>
					</tr>
				<% end %>
				<% @graded.each_with_index do |assignment, i| %>
					<tr>
						<td class="span1"><%= render "courses/gradeBlock", :grade => assignment.user_percentage(@current_user), :course => @course %></td>
						<td class="span5"><%= link_to assignment.name, assignment_type_assignment_path(assignment.assignment_type, assignment) %></td>
						<td>
							<div class="btn-group">
								<%= link_to "Edit", edit_assignment_type_assignment_path(assignment.assignment_type, assignment), :class => "btn" %>
								<%= link_to "Grade", edit_assignment_grade_path(assignment), :class => "btn" %>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>