<%
	content_for :head do
		render "head"
	end

	render partial:"courses/navigation"
%>


<!-- [ Gamer Boxes ] -->
<div class="gamerboxes">
	<ul>
		<%= @percent_completed ? render("courses/gamerBox", :value => "#{@percent_completed}\%", :text => "Completed") : "" %>
		<%= render "courses/gamerBox", :value => @num_uncompleted, :text => "Asgmts Left" %>
		<%= render "courses/gamerBox", :value => @days_left, :text => "Days Left" %>
	</ul>
</div>

<ul class="nav nav-tabs">
	<li class="active"><a href="#upcoming" data-toggle="tab">Upcoming</a></li>
	<li><a href="#past" data-toggle="tab">Past</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="upcoming" >
		<table class="table table-hover table-middle">
			<tbody>
				<%
					month = 00
					day = 00
				%>
				<% @upcoming.each do |assignment| %>
					<tr>
						<th class="span1">
							<%=
								if assignment.due_date.month != month
									month = assignment.due_date.month
									Date::MONTHNAMES[assignment.due_date.month]
								end
							%>
						</th>
						
						<td><%= assignment.due_date.day %></td>
						<td><%= render :partial => "assignment_due_date", :locals => {:assignment => assignment} %></td>
							
						<td class="span5"><%= link_to assignment.name, assignment_path(assignment) %></td>
						<td>
							<%= render :partial => "assignment_menu", :locals => {:assignment => assignment, :grade => assignment.user_grade_class(@current_user)} %>
						</td>
					</tr>
				<% end %>
				
				<% @undated.each_with_index do |assignment, i| %>
					<tr>
						<th class="span1"><%= (i == 0) ? "Undated" : "" %></th>
						<td></td>
						<td><%= render :partial => "assignment_due_date", :locals => {:assignment => assignment} %></td>
						
						<td class="span5"><%= link_to assignment.name,assignment_path(assignment) %></td>
						<td>
							<%= render :partial => "assignment_menu", :locals => {:assignment => assignment, :grade => assignment.user_grade_class(@current_user)} %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="tab-pane" id="past">
		<table class="table table-hover table-middle">
			<tbody>
				<% @past.each_with_index do |assignment, i| %>
					<tr>
						<td></td>
						<td><%= render :partial => "assignment_due_date", :locals => {:assignment => assignment} %></td>
						
						<td class="span5"><%= link_to assignment.name, assignment_path(assignment) %></td>
						<td>
							<%= render :partial => "assignment_menu", :locals => {:assignment => assignment, :grade => assignment.user_grade_class(@current_user)} %>
						</td>
					</tr>
				<% end %>
				<% @graded.each_with_index do |assignment, i| %>
					<tr>
						<td class="span1"><%= render "courses/gradeBlock", :grade => assignment.user_percentage(@current_user), :course => @course %></td>
						<td><%= render :partial => "assignment_due_date", :locals => {:assignment => assignment} %></td>
						<td class="span5"><%= link_to assignment.name, assignment_path(assignment) %></td>
						<td>
							<%= render :partial => "assignment_menu", :locals => {:assignment => assignment, :grade => assignment.user_grade_class(@current_user)} %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>