<h1>Listing grade_scales</h1>

<table>
  <tr>
    <th>Course</th>
    <th>A</th>
    <th>A minus</th>
    <th>B plus</th>
    <th>B</th>
    <th>B minus</th>
    <th>C plus</th>
    <th>C</th>
    <th>C minus</th>
    <th>D plus</th>
    <th>D</th>
    <th>D minus</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grade_scales.each do |grade_scale| %>
  <tr>
    <td><%= grade_scale.course_id %></td>
    <td><%= grade_scale.a %></td>
    <td><%= grade_scale.a_minus %></td>
    <td><%= grade_scale.b_plus %></td>
    <td><%= grade_scale.b %></td>
    <td><%= grade_scale.b_minus %></td>
    <td><%= grade_scale.c_plus %></td>
    <td><%= grade_scale.c %></td>
    <td><%= grade_scale.c_minus %></td>
    <td><%= grade_scale.d_plus %></td>
    <td><%= grade_scale.d %></td>
    <td><%= grade_scale.d_minus %></td>
    <td><%= link_to 'Show', grade_scale %></td>
    <td><%= link_to 'Edit', edit_grade_scale_path(grade_scale) %></td>
    <td><%= link_to 'Destroy', grade_scale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grade scale', new_grade_scale_path %>
