<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @grade_scale.course_id %>
</p>

<p>
  <b>A plus:</b>
  <%= @grade_scale.a_plus %>
</p>

<p>
  <b>A:</b>
  <%= @grade_scale.a %>
</p>

<p>
  <b>A minus:</b>
  <%= @grade_scale.a_minus %>
</p>

<p>
  <b>B plus:</b>
  <%= @grade_scale.b_plus %>
</p>

<p>
  <b>B:</b>
  <%= @grade_scale.b %>
</p>

<p>
  <b>B minus:</b>
  <%= @grade_scale.b_minus %>
</p>

<p>
  <b>C plus:</b>
  <%= @grade_scale.c_plus %>
</p>

<p>
  <b>C:</b>
  <%= @grade_scale.c %>
</p>

<p>
  <b>C minus:</b>
  <%= @grade_scale.c_minus %>
</p>

<p>
  <b>D plus:</b>
  <%= @grade_scale.d_plus %>
</p>

<p>
  <b>D:</b>
  <%= @grade_scale.d %>
</p>

<p>
  <b>D minus:</b>
  <%= @grade_scale.d_minus %>
</p>

<p>
  <b>F plus:</b>
  <%= @grade_scale.f_plus %>
</p>

<p>
  <b>F:</b>
  <%= @grade_scale.f %>
</p>

<p>
  <b>F minus:</b>
  <%= @grade_scale.f_minus %>
</p>


<%= link_to 'Edit', edit_grade_scale_path(@grade_scale) %> |
<%= link_to 'Back', grade_scales_path %>
