<!DOCTYPE html>
<html>
<head>
	<title>BareGrades</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="<%= css_font(@current_theme) %>" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body class="<%= @current_theme %>">

	<header class="main">
		<div>
			<div>
				<%= link_to root_path, class:"brand" do %>
					<span>BareGrades</span>
				<% end %>
				<%= link_to "v 1.0.8", changelog_path, class:"brand version" %>
				<%= link_to "Help", help_path, class:"brand version"%>
				
				<div class="user-menu dropdown">
					<%= yield :user_menu %>
				</div>
			</div>
		</div>
	</header>

	<header id="content-head">
		<div>
			<%= yield :head %>
		</div>
	</header>

	<div id="content">
		<%= yield :content %>

		<footer>
			&copy; 2013 | <%= link_to "Terms of Service and Privacy Policy", privacy_path() %>
		</footer>
	</div>

</body>
</html>