<!DOCTYPE html>
<html>
<head>
	<title>BareGrades</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
	
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	
	
</head>
<body>



<header id="main">
	<div>
		<%= render :partial => "layouts/user_menu" %>
		<h1>BareGrades</h1>
	</div>
</header>

<header id="content-head" class="<%= @current_user.theme ? @current_user.theme.css_class : "pond" %>">
	<div>
		<%= yield :head %>
	</div>
</header>

<nav id="page-nav">
	<div>
		<%= yield :nav %>
	</div>
</nav>

<div>
	<section id="sidebar">
		<nav id="actions">
			<%= link_to "Join a Course", courses_path %>
		</nav>
		<% if @current_user %>
			<h2>Courses</h2>
			<nav id="courses">
				<% @current_user.courses.each do |course| %>
					<a href="<%= course_path(course) %>">
						<% grade = course.user_grade(@current_user) %>
						<span class="grade <%= course.grade_letter_class(grade) %>"><%= grade ? "%02d" %  grade : "n/a" %></span>
						<%= course.name %>
					</a>
					<% if @course and course.id == @course.id %>	
						<% course.assignment_types.each do |assignment_type| %>
							<a href="<%= course_assignment_type_path(course, assignment_type) %>" class="assignment_type">
								<% grade = assignment_type.user_grade(@current_user) %>
								<span class="grade <%= course.grade_letter_class(grade) %>"><%= grade ? "%02d" %  grade : "n/a" %></span>
								<%= assignment_type.name %>
							</a>
						<% end %>
					<% end %>
				<% end %>
			</nav>
		<% end %>
	</section>
	<section id="content">
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>

		<%= yield %>
	</section>
</div>


</body>
</html>
