<!DOCTYPE html>
<html>
<head>
	<title>BareGrades</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

<header id="main">
	<div>
		<%= render :partial => "layouts/user_menu" %>
		<h1>BareGrades</h1>
	</div>
</header>

<header id="content-head">
	<div>
		<%= yield :head %>
	</div>
</header>

<nav id="page-nav">
	<div>
		<%= yield :nav %>
	</div>
</nav>

<div>
	<section id="sidebar">
		<nav>
			<%= link_to "Join a Course", courses_path %>
		</nav>
		<% @current_user.courses.each do |course| %>
			<%= link_to course.name, course %>
		<% end %>
	</section>
	<section id="content">
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>

		<%= yield %>
	</section>
</div>


</body>
</html>
