<% content_for :user_menu do %>
	<% render partial:"layouts/user_menu" %>
<% end %>

<% content_for :content do %>
	<div class="row-fluid">
		<aside class="span3">
			<%= side_menu("Tutorials", yield(:tutorials)) %>
			<%= side_menu("Reference", yield(:reference)) %>
		</aside>
		<div class="main-content">
			<% flash.each do |name, msg| %>
				<div class="alert alert-<%= name %>">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%= msg %>
				</div>
			<% end %>

			<%= yield %>
		</div>
	</div>
<% end %>

<%= render "layouts/primary" %>